* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.quote__wrapper{
    background-color: white;
    width: 100%;
    max-width: 700px;
    display: inline-block;
    height: auto;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.quote{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.quote-text{
    width: 100%;
    max-width: 500px;
    height: auto;
    margin-top: 30px;
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

.quote-text p, .quote-author p {
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}


.quote-author{
    font-size: 18pt;
    margin-top: 30px;
    width: 98%;
    display: flex;
    justify-content: flex-end;
}

.buttons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.right-btn button{
    font-size: 16pt;
    color: white;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.right-btn button:hover{
    filter: brightness(115%);
    -webkit-filter: brightness(115%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.left-btn a{
    margin: 5px;
    font-size: 16pt;
    color: white;
    border: 0;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.left-btn a:hover{
    filter: brightness(115%);
    -webkit-filter: brightness(115%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}